# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/

# JetBrains
.idea/

# Virtual environments
venv/
.venv/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Secrets
.env
.env.*
